* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
    background: rgba(235, 235, 222, 0.5);
    /* fallback for old browsers */
}

body {
    font-family: arial;
    background: transparent;
}


#nameInHeader {
    margin-top: 2%;
    margin-bottom: 1%;
    font-size: 1rem;
}

/*Fonts*/

.card-text {
    color: rgba(0, 0, 0, 0.5);
}

.card-title {
    text-align: center;
    font-size: 1.2em;
    color: rgba(0, 0, 0, 0.8);
    /*color: #59636f;*/
}

.coachLetter {
    padding: 19px;
    margin: 5px;
}

label {
    color: rgba(0, 0, 0, 0.7);
    display: block;
    text-align: left;
    font-size: 1em;
}

#summaryList{
    font-size: 0.9em;
}


/*form styles*/
#faultForm {
    text-align: center;
    position: relative;
    margin-top: 7%;
}

#faultForm fieldset {
    padding: 5% 7%;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3%;
    /*stacking fieldsets above each other*/
    position: relative;
}

.card {
    position: relative;
    margin-top: 15px;
    text-align: center;
    height: 100%;
}

/*buttons*/
#faultForm .action-button {
    width: 100px;
    background: rgba(215, 4, 40, 1);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#faultForm .coach-button {
    background: rgba(0, 120, 190, 0.8);
    font-weight: bold;
    color: rgba(235, 235, 222, 1);
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    border: none;

}

#faultForm .coach-button:focus {
    background: rgba(160, 105, 170, 1);
}

#faultForm .action-button:hover, #faultForm .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(215, 4, 40, 1);
}

#faultForm .action-button-previous {
    width: 100px;
    /*background: rgba(0, 120, 190, 0.6);*/
    background: rgba(0, 120, 190, 0.8);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#faultForm .action-button-previous:hover, #faultForm .action-button-previous:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(0, 120, 190, 0.8);
}

/*Hide all except first fieldset*/
#faultForm fieldset:not(:first-of-type) {
    display: none;
}

#where select:not(:first-of-type) {
    display: none;
}

li {
    font-size: 0.7em;
}

/*inputs*/
.card input, .card textarea {
    padding: 4%;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 10px;
    width: 100%;
    color: #2C3E50;
    font-size: 13px;
}

.card input:focus, .card textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(215, 4, 40, 0.8);
    outline: none;
    transition: All 0.5s ease-in;
    -webkit-transition: All 0.2s ease-in;
    -moz-transition: All 0.2s ease-in;
    -o-transition: All 0.2s ease-in;
}

#summaryList {
    text-align: left;
    padding-bottom: 10px;
    width: 100%;
}

.icon {
    height: 45px;
    width: 45px;
}

.icon:hover {
    cursor: pointer;
}

.leftIcon {
    margin-right: 5%;
}

.rightIcon {
    margin-left: 5%;
}

.iconButton {
    background-color: transparent;
    border-color: transparent;
}

.infoHelpButtonGroup {
    background-color: transparent;
    border-color: transparent;
    margin-bottom: 1rem;
}

#submissionCheck {
    height: 30%;
    width: 30%;
}

#gaHomepageLink {
    width: 200px;
    background: rgba(0, 120, 190, 0.8);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#gaHomepageLink:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(0, 120, 190, 0.8);
}

#gaHomepageIcon {
    width: 30px;
    height: 30px;
}

#sendToFront {
    width: 200px;
    background: rgba(215, 4, 40, 1);
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#sendToFront:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 3px rgba(215, 4, 40, 0.6);
}

.alert {
    text-align: left;
}

.summaryRow {
    padding: .75rem 1.25rem;
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    border-top: 1px solid rgba(0, 0, 0, .125);
    margin-bottom: -1px;
}

.alternatingRow {
    background-color: #F6F6F6;
}

.rowTopic {
    text-align: left;
}

.rowInput {
    text-align: right;
}

.alertHeader {
    display: block;
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.stepIndicator {
    text-align: center;
}

/* work in progress */
/*input [type=button]:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
}
*/